h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-style: normal;
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header {
  position: absolute;
  width: 100%;
}

.hero-right__pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero-right__title {
  color: #ffffff;
}

.hero-right__sub-title {
  color: #9da4bd;
}

.logo__icon {
  width: 65px;
  height: 55px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}

.sub-title,
.text {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.02em;
  color: #555555;
}

.sub-title {
  font-size: 16px;
  line-height: 1.62;
}

.text {
  font-size: 14px;
  line-height: 1.85;
}

.pre-title::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.pre-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pre-title::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  margin-bottom: 4px;
}

.social-networks__list--hero {
  -webkit-transform: rotate(-90deg) translate(-19px);
          transform: rotate(-90deg) translate(-19px);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.social-networks__item--hero:not(:last-child), .social-networks__item--footer:not(:last-child) {
  margin-right: 40px;
}

.social-networks__list--hero, .social-networks__list--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-networks__link:hover, .social-networks__link:focus {
  color: #ff6c00;
}

.social-networks__list--hero::before, .social-networks__list--footer::before {
  content: '';
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 60px;
  height: 1px;
  margin-right: 40px;
  background: #303030;
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid #ff6c00;
  background-color: transparent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
}

.button:hover,
.button:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.prices__pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.prices__title {
  color: #ffffff;
}

.prices__item-left, .prices__item-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.prices__item-left, .prices__item-right:not(:last-child) {
  margin-bottom: 20px;
}

.prices__item-left::before, .prices__item-right::before {
  content: '';
  margin-left: 6px;
  margin-right: 6px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
}

.prices__text:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.prices {
  background-color: #111319;
}

.prices-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
}

.header-btn {
  color: #ffffff;
}

.menu-container__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.menu-container__tel:hover, .menu-container__tel:focus {
  color: #ff6c00;
}

.about__container-right {
  margin-bottom: 40px;
}

.about__sub-title {
  margin-bottom: 20px;
}

.benefits__item {
  background-color: #f7f7f7;
}

.benefits__item:nth-child(odd) {
  margin-right: 30px;
}

.benefits__item:nth-child(even) {
  margin-top: 30px;
}

.benefits__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #303030;
}

.benefits__numbers {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 6px;
  color: #303030;
}

.masters {
  background-color: #f7f7f7;
}

.masters__card {
  margin-bottom: 30px;
}

.masters__item:not(:last-child) {
  margin-bottom: 64px;
}

.masters__name {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 8px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}

.masters__text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.35;
  margin-bottom: 30px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.online-contacts {
  background-color: #191c26;
}

.online-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 44px;
  color: #ffffff;
}

.online-form__input-name, .online-form__input-tel, .online-form__comment {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: none;
}

.online-form__input-name:hover, .online-form__input-tel:hover, .online-form__comment:hover {
  border-bottom: 1px solid #ffffff;
}

.online-form__input-name:hover::-webkit-input-placeholder, .online-form__input-tel:hover::-webkit-input-placeholder, .online-form__comment:hover::-webkit-input-placeholder {
  color: #ffffff;
}

.online-form__input-name:hover:-ms-input-placeholder, .online-form__input-tel:hover:-ms-input-placeholder, .online-form__comment:hover:-ms-input-placeholder {
  color: #ffffff;
}

.online-form__input-name:hover::-ms-input-placeholder, .online-form__input-tel:hover::-ms-input-placeholder, .online-form__comment:hover::-ms-input-placeholder {
  color: #ffffff;
}

.online-form__input-name:hover::placeholder, .online-form__input-tel:hover::placeholder, .online-form__comment:hover::placeholder {
  color: #ffffff;
}

.contacts-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 40px;
  color: #ffffff;
}

.contacts__icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.contacts__list {
  margin-bottom: 44px;
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts__sub-title {
  margin-bottom: 20px;
}

.contacts__schedule {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.footer__copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}

@media screen and (max-width: 767px) {
  .logo__icon {
    margin-top: 40px;
    fill: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .logo__icon {
    fill: #303030;
  }
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 84px;
    padding-bottom: 84px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.social-links__item {
  width: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.social-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: #303030;
}

.social-links__link:hover .social-links__icon {
  fill: #ff6c00;
}

@media screen and (max-width: 767px) {
  .nav,
  .header-conect,
  .hero-left {
    display: none;
  }
  .menu-btn {
    z-index: 1;
    position: absolute;
    top: 48px;
    right: 30px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background-color: transparent;
  }
  .btn-close-menu,
  .menu-btn {
    width: 40px;
    height: 40px;
  }
  .menu-btn .icon-cross {
    display: block;
  }
  .menu-btn.is-open .icon-cross {
    display: none;
  }
  .menu-btn.is-open .icon-menu {
    display: block;
  }
  .menu-btn .icon-menu {
    display: none;
  }
  .icon-menu {
    fill: #ffffff;
  }
  .menu-btn:hover .icon-cross,
  .menu-btn:focus .icon-cross {
    fill: #ff6c00;
  }
  .menu-btn:hover .icon-menu,
  .menu-btn:focus .icon-menu {
    fill: #ff6c00;
  }
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    padding: 118px 105px 270px 50px;
    pointer-events: none;
    visibility: hidden;
  }
  .menu-container.is-open {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    pointer-events: initial;
    overflow-y: auto;
    visibility: visible;
  }
  .menu-container__tel {
    display: block;
    margin-bottom: 24px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #303030;
  }
  .menu-nav {
    margin-bottom: 64px;
  }
  .menu-nav__item:not(:last-child) {
    margin-bottom: 24px;
  }
  .menu-nav__link {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #303030;
  }
  .menu-nav__link:hover, .menu-nav__link:focus {
    color: #ff6c00;
  }
  .menu-button {
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .social-networks__list {
    margin-bottom: 20px;
  }
  .social-networks__link {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.2em;
    color: #303030;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    padding-top: 208px;
    padding-bottom: 183px;
    background-image: url("../images/mobile/hero-m1x.jpg");
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/mobile/hero-m2x.jpg");
  }
}

@media screen and (max-width: 767px) {
  .hero-right {
    width: 306px;
  }
  .hero-right__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: #ffffff;
  }
}

@media screen and (max-width: 767px) {
  .about-wrap {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
  .about__container-left {
    display: none;
  }
}

.about__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.05em;
  color: #303030;
}

@media screen and (max-width: 767px) {
  .prices {
    background-image: url("../images/mobile/prices-m1x.png");
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .prices .prices {
    background-image: url("../images/mobile/prices-m2x.png");
  }
}

@media screen and (max-width: 767px) {
  .prices__container {
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .prices__title {
    margin-bottom: 44px;
  }
  .prices__text {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #9da4bd;
  }
}

@media screen and (max-width: 1199px) {
  .benefits__sub-title {
    max-width: 500px;
    margin-bottom: 44px;
  }
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benefits__item {
    height: 133px;
  }
}

@media screen and (max-width: 767px) {
  .benefits__list {
    max-width: 416px;
    margin-left: auto;
  }
  .benefits__item {
    max-width: 193px;
    padding: 20px 36px;
  }
  .benefits__item--diferent {
    padding: 20px 32px;
  }
}

@media screen and (max-width: 767px) {
  .masters__wrap {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .gallery__wrap {
    max-width: 420px;
    margin-right: auto;
    margin-left: auto;
  }
  .gallery__pre-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.9;
    margin-bottom: 44px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #303030;
  }
  .gallery__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .online-contacts {
    background-image: url("../images/mobile/contacts-bg-m1x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .online-contacts .prices {
    background-image: url("../images/mobile/contacts-bg-m2x.png");
  }
}

@media screen and (max-width: 767px) {
  .online {
    padding-bottom: 84px;
  }
  .online-form__input-name, .online-form__input-tel, .online-form__comment {
    display: block;
    width: 100%;
    margin-bottom: 44px;
  }
  .online-form__input-name, .online-form__input-tel {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .online-form__comment {
    resize: none;
    height: 75px;
  }
  .contacts {
    padding-top: 84px;
  }
  .contacts__sub-title {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
  }
  .contacts__sub-title::before {
    content: '';
    display: inline-block;
    width: 60px;
    margin-right: 20px;
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    padding-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    margin-left: 60px;
  }
  .nav__item:not(:last-child) {
    margin-right: 24px;
  }
  .nav__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #ffffff;
  }
  .nav__link:hover, .nav__link:focus {
    color: #ff6c00;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-conect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
  .header-btn {
    margin-top: 8px;
  }
  .menu-container__tel {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero-right {
    padding: 280px 157px 234px 70px;
    background-image: url("../images/tablet/hero1-t1x.jpg");
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero-right {
    background-image: url("../images/tablet/hero1-t2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 86px;
    padding: 32px 10px;
  }
  .social-networks__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.2em;
    color: #303030;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .online-contacts {
    background-image: url("../images/tablet/contacts-bg-t1x.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .online-contacts .prices {
    background-image: url("../images/tablet/contacts-bg-t2x.png");
  }
}
/*# sourceMappingURL=main.css.map */