@media screen and (max-width: 767px) {
  .gallery {
    &__wrap {
      max-width: 420px;
      margin-right: auto;
      margin-left: auto;
    }

    &__pre-title {
      font-family: $text-font;
      font-weight: 600;
      font-size: 11px;
      line-height: 1.9;
      margin-bottom: 44px;

      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: $secondary-title-color;
    }

    &__item:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
