@media screen and (max-width: 767) {
  .hero {
    max-width: 767px;
    background-image: url('../images/mobile/hero-m1x.jpg');
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('../images/mobile/hero-m2x.jpg');
    }
  }
}
