@media screen and (max-width: 767px) {
  .hero {
    padding-top: 208px;
    padding-bottom: 183px;
    background-color: rgba(25, 28, 38, 0.2);
    background-image: url('../images/mobile/hero-m1x.jpg');
    background-size: cover;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-color: rgba(25, 28, 38, 0.2);
      background-image: url('../images/mobile/hero-m2x.jpg');
    }
  }

  .hero-right {
    max-width: 306px;
    &__title {
      font-weight: 700;
      font-size: 48px;
      line-height: 1.16;
      letter-spacing: 0.05em;

      color: $primary-title-color;
    }
  }
}

@media screen and (max-width: 479px) {
  .hero-right {
    &__title {
      font-weight: 600;
      font-size: 40px;
      line-height: 1.16;
      letter-spacing: 0.05em;

      color: $primary-title-color;
    }
  }
}
