@media screen and (max-width: 767px) {
  .menu-container {
    opacity: 0;

    background-color: $page-bg-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 48px 40px;
    transition: opacity 250ms $timing-function;
    pointer-events: none;
    visibility: hidden;

    &.is-open {
      opacity: 1;
      pointer-events: initial;
      position: fixed;
      overflow-y: scroll;
      visibility: visible;
    }
  }
}
