@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
  }

  .nav {
    display: flex;
    margin-top: 20px;
    margin-left: 60px;
    &__item:not(:last-child) {
      margin-right: 24px;
    }

    &__link {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      letter-spacing: 0.1em;

      color: $primary-title-color;
    }

    &__link:hover,
    &__link:focus {
      color: $accent-color;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-conect {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .header-btn {
    margin-top: 8px;
  }

  .menu-container {
    &__tel {
      margin-top: 20px;
    }
  }
}
