.header {
  position: absolute;
  width: 100%;
}

.hero-right {
  &__pre-title {
    color: rgba(157, 164, 189, 0.6);
  }

  &__title {
    color: $primary-title-color;
  }

  &__sub-title {
    color: $secondary-text-color;
  }
}

.logo {
  &__icon {
    width: 65px;
    height: 55px;
  }
}

.title {
  font-family: $head-font;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;

  margin-bottom: 20px;
}

.sub-title,
.text {
  font-family: $text-font;

  letter-spacing: 0.02em;
  color: $primary-text-color;
}

.sub-title {
  font-size: 16px;
  line-height: 1.62;
}

.text {
  font-size: 14px;
  line-height: 1.85;
}

.pre-title::before {
  background-color: rgba(157, 164, 189, 0.6);
}

.pre-title {
  font-family: $text-font;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;

  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.pre-title::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 1px;
  margin-right: 20px;
  margin-bottom: 4px;
}

.social-networks {
  &__list--hero {
    transform: rotate(-90deg) translate(-19px);
    transform-origin: top left;
  }

  &__item--hero:not(:last-child),
  &__item--footer:not(:last-child) {
    margin-right: 40px;
  }
}

.social-networks {
  &__list--hero,
  &__list--footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}

.social-networks {
  &__list--hero::before,
  &__list--footer::before {
    content: '';
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background: $secondary-title-color;
  }
}

.button {
  width: 160px;
  height: 40px;
  border-radius: 25px;
  border: 1px solid $accent-color;
  background-color: transparent;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  color: $secondary-title-color;
}

.button:hover,
.button:focus {
  background-color: $accent-color;
  color: $primary-title-color;
}

.prices {
  &__pre-title {
    color: rgba(157, 164, 189, 0.6);
  }

  &__title {
    color: $primary-title-color;
  }
}

.prices {
  &__item-left,
  &__item-right {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__item-left,
  &__item-right:not(:last-child) {
    margin-bottom: 20px;
  }

  &__item-left::before,
  &__item-right::before {
    content: '';
    margin-left: 6px;
    margin-right: 6px;
    flex-grow: 1;

    border-bottom: 1px solid
      rgba(157, 164, 189, 0.12);
  }

  &__text:first-child {
    order: -1;
  }
}

.prices {
  background-color: $section-bg-color;
}

.prices-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: $primary-title-color;
}

.header-btn {
  color: $primary-title-color;
}

.menu-container {
  &__tel {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: $primary-title-color;
  }

  &__tel:hover,
  &__tel:focus {
    color: $accent-color;
  }
}

.about {
  &__container-right {
    margin-bottom: 40px;
  }

  &__sub-title {
    margin-bottom: 20px;
  }
}

.benefits {
  &__item {
    background-color: #f7f7f7;
  }

  &__item:nth-child(odd) {
    margin-right: 30px;
  }

  &__item:nth-child(even) {
    margin-top: 30px;
  }

  &__text {
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;

    color: $secondary-title-color;
  }

  &__numbers {
    display: block;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 6px;

    color: $secondary-title-color;
  }
}

.masters {
  background-color: #f7f7f7;

  &__card {
    margin-bottom: 30px;
  }

  &__item:not(:last-child) {
    margin-bottom: 64px;
  }

  &__name {
    font-family: $text-font;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;

    margin-bottom: 8px;
    text-align: center;
    letter-spacing: 0.02em;

    color: $secondary-title-color;
  }

  &__text {
    font-family: $text-font;
    font-size: 14px;
    line-height: 1.35;

    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 0.02em;

    color: $accent-color;
  }
}

.online-contacts {
  background-color: #191c26;
}

.online-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 44px;

  color: $primary-title-color;
}

.online-form {
  &__input-name,
  &__input-tel,
  &__comment {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $primary-title-color;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid
      rgba(157, 164, 189, 0.4);

    outline: none;
  }

  &__input-name:hover,
  &__input-tel:hover,
  &__comment:hover {
    border-bottom: 1px solid $page-bg-color;
  }

  &__input-name:hover::placeholder,
  &__input-tel:hover::placeholder,
  &__comment:hover::placeholder {
    color: $primary-title-color;
  }
}

.contacts-title {
  font-family: $head-font;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 40px;

  color: $primary-title-color;
}

.contacts {
  &__icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
  }

  &__list {
    margin-bottom: 44px;
  }

  &__item:not(:last-child) {
    margin-bottom: 20px;
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.66;

    letter-spacing: 0.02em;

    color: $secondary-text-color;
  }

  &__sub-title {
    margin-bottom: 20px;
  }

  &__schedule {
    font-size: 18px;
    line-height: 1.66;

    letter-spacing: 0.02em;

    color: $secondary-text-color;
  }
}

.footer {
  &__copyright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;

    letter-spacing: 0.2em;

    color: $secondary-text-color;
  }
}
