.benefits {
  &__item {
    background-color: #f7f7f7;
  }

  &__text {
    font-family: $text-font;
    font-weight: 600;
    font-size: 11px;
    line-height: 15px;
    text-align: center;

    color: $secondary-title-color;
  }

  &__numbers {
    display: block;
    font-family: $text-font;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 6px;

    color: $secondary-title-color;
  }
}

@media screen and (min-width: 480px) {
  .benefits {
    &__item:nth-child(odd) {
      margin-right: 30px;
    }

    &__item:nth-child(even) {
      margin-top: 30px;
    }
  }
}
