.social-networks {
  &__list--hero {
    transform: rotate(-90deg) translate(-19px);
    transform-origin: top left;
  }

  &__item--hero:not(:last-child),
  &__item--footer:not(:last-child) {
    margin-right: 40px;
  }
}

.social-networks {
  &__list--hero,
  &__list--footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }
}

.social-networks {
  &__list--hero::before,
  &__list--footer::before {
    content: '';
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 1px;
    margin-right: 40px;
    background: $secondary-title-color;
  }
}
