$head-font: 'Raleway', sans-serif;
$text-font: 'Open Sans', sans-serif;
$primary-title-color: #ffffff;
$secondary-title-color: #303030;
$primary-text-color: #555555;
$secondary-text-color: #9da4bd;
$pre-title-text-color: rgba(157, 164, 189, 0.6);
$accent-color: #ff6c00;
