@media screen and (min-width: 1200px) {
  .about {
    &__container-right {
      padding-left: 32px;
      padding-right: 32px;
    }

    &__container-left {
      display: flex;
    }

    &__img {
      margin-right: 30px;
    }

    &__title {
      font-weight: 700;
      font-size: 42px;
      line-height: 1.16;
      letter-spacing: 0.05em;

      color: $secondary-title-color;
    }

    &__sub-title {
      font-size: 18px;
      line-height: 1.6;

      letter-spacing: 0.02em;

      color: $primary-text-color;
    }
  }
}
