@media screen and (min-width: 1200px) {
  .benefits {
    &__container {
      display: flex;
      justify-content: space-between;
    }

    &__container-left {
      padding-left: 90px;
      padding-right: 90px;
      order: -1;
    }

    &__container-right {
      width: calc(50% - 30px);
    }

    &__list {
      max-width: 370px;
    }

    &__item {
      max-width: 170px;
      padding: 20px 24px;
    }

    &__item--diferent {
      padding: 20px;
    }
  }
}
