@media screen and (min-width: 1200px) {
  .header-conect {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .nav {
    &__item:not(:last-child) {
      margin-right: 40px;
    }
  }

  .header-btn {
    margin-top: 8px;
  }

  .menu-container {
    &__tel {
      order: -1;
      margin-right: 40px;
    }
  }
}
